Package: com.dekesto.minimalcamera
Name: MinimalCamera
Depends: mobilesubstrate, preferenceloader, firmware (>= 7)
Version: 1.1.0
Architecture: iphoneos-arm
Description: Camera tweak for the minimalist
Maintainer: Dekesto
Author: Dekesto
Section: Tweaks
